/* 

----- Table Of Contents -----

1. Fonts
   1-1 Montserrat
   1-2 Roboto
2. General Style
3. Mobile Size
   3-1 Header Style
   3-2 Title Section Style
   3-3 Cards Section Style
4. Tablet Size
5. Desktop Size


*/


/* ------------------ 1. Fonts ------------------ */


/*  1-1 Montserrat  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/*  1-2 Roboto  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap');

/* ------------------ 2. General Style  ------------------ */

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}


/* ------------------ 3. Mobile Size Style  ------------------ */


/* 3-1 Header Style */

header {
    display: flex;
    justify-content: center;
}

#mobile-menu {
    background-color: #ecf4fc;
    width: 120px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 2.3rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.hide {
    display: none;
}

.menu-items {
    margin-left: 0.5rem;
    text-decoration: none;
}

#menu-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 20px;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.7vh;
}

#logo {
    color: #4096df;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif !important;
}

#menu-icon {
    font-size: 1.5rem;
}


/* 3-2 Title Section Style */

.section-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    margin: 30px 0;
}


/* 3-3 Cards Section Style */

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#btn-card {
    border-radius: 16px;
    padding: 30px 10px;
    margin: 0 10px 15px 15px;
    height: 120px;
    border: none;
}

#btn-card:nth-child(odd) {
    background-color: #fcf1ec;
}

#btn-card:nth-child(even) {
    background-color: #ecf0fc;
}

.card p {
    position: relative;
    font-size: 15px;
    top: 8px;
    color: #000;
}

#btn-card:nth-child(even) .far {
    color: #a7b9f1;
}

#btn-card:nth-child(odd) .far {
    color: #f1a8a7;
}

i.far.fa-school {
    position: relative;
    left: 45px;
    bottom: 20px;
    font-size: 1.5rem;
}

#list {
    display: none;
}


/* ------------------ 4. Tablet Size ------------------ */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        margin-top: 1vh;
    }
    #list {
        display: block;
    }
    nav {
        align-items: center;
    }
    li {
        display: inline-block;
        line-height: 80px;
        text-align: center;
    }
    nav a {
        color: black;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 7px 10px;
        text-decoration: none;
        margin-right: 4rem;
    }
    #active {
        color: #4096df;
    }
    #menu {
        display: none;
    }
    #logo {
        margin-left: 1rem;
    }
    i.far.fa-school {
        left: 130px;
        bottom: 10px;
    }
    .card p {
        font-size: 20px;
        top: 1px;
        left: 12px;
    }
}


/* ------------------ 5. Desktop Size ------------------ */

@media only screen and (min-width: 1024px) {
    .header {
        margin-top: 1vh;
    }
    #list {
        display: block;
    }
    nav {
        align-items: center;
    }
    li {
        display: inline-block;
        line-height: 80px;
        text-align: center;
    }
    nav a {
        color: black;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 7px 10px;
        text-decoration: none;
        margin-right: 4rem;
    }
    #active {
        color: #4096df;
    }
    #menu {
        display: none;
    }
    #logo {
        margin-left: 1rem;
    }
    .container {
        grid-template-columns: 33% 33% 33%;
        margin: 0 35px;
    }
    .section-title {
        font-size: 25px;
        padding-left: 75px;
    }
    i.far.fa-school {
        left: 170px;
        bottom: 15px;
    }
    .card p {
        font-size: 20px;
        bottom: 0px;
    }
}