/* 

----- Table Of Contents -----

1. Fonts
   1-1 Montserrat
2. General Style
3. Mobile Size
   3-1 Cover image Style
   3-2 Texts Style
   3-3 Button Style
4. Tablet Size - still in progress
5. Desktop Size - still in progress


*/


/* ------------------ 1. Fonts ------------------ */


/*  1-1 Montserrat  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* ------------------ 2. General Style ------------------ */

* {
    padding: 0;
    margin: 0;
}


/* ------------------ 3. Mobile Size ------------------ */


/* 3-1 Cover image Style */

.cover-img {
    margin-top: 60px;
}


/* 3-2 Texts Style */

.main-text {
    font-size: 1.4rem;
    text-align: center;
    padding: 25px 25px 0 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.more-text {
    font-size: 1.5rem;
    color: #A6A6A6;
    line-height: 28px;
    text-align: center;
    padding: 25px 13px 25px 0;
}


/* 3-3 Button Style */

.start-btn {
    background-color: #4096DF;
    margin: 0 2rem;
    width: 300px;
    height: 55px;
    border-radius: 16px;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
}


/* ------------------ 4. Tablet Size ------------------ */


/* --- Write your responsive code to the tablet size here and update the table of content please!--- */


/* ------------------ 5. Desktop Size ------------------ */


/* --- Write your responsive code to the desktop size here and update the table of content please!--- */