@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.7vh;
}

#logo {
    color: #4096df;
    font-size: 1.5rem;
    font-family: 'Roboto';
}

#menu-icon {
    font-size: 1.5rem;
}

#image {
    margin-bottom: 0%;
    margin-top: 1rem;
    width: 80vw;
    height: 40vh;
}

#ima {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

#most {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    font-weight: bold;
}

#search-icon {
    font-size: 1.3rem;
    margin: 5px 5px 0px 5px;
    color: #a6a6a6;
}

#serach-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-content: center;
    height: 35vh;
    margin-top: 1.5rem;
}

input::-webkit-input-placeholder {
    font-size: 20px;
    /* line-height: 3; */
}

#input {
    display: flex;
    border: none;
    flex: 1;
    background-color: #f6f6f8;
    height: 5vh;
}

#input-field {
    border: none;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    width: 90vw;
    background-color: #f6f6f8;
    /* padding: 10px; */
    margin-left: 0.8rem;
    margin-top: -23px;
}

#most-popular {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
    width: 100%;
    align-self: center;
}

#egypt {
    background-image: url(../img/egypt.png);
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    display: flex;
    background-size: 100% 100%;

}

#turkey {
    background-image: url(../img/turkey.png);
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    display: flex;
    background-size: 100% 100%;
}

#italy {
    background-image: url(../img/italy.png);
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    display: flex;
    background-size: 100% 100%;
}

#spain {
    background-image: url(../img/spain.png);
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    display: flex;
    background-size: 100% 100%;

}

.country {
    position: relative;
    top: 80px;
    left: 15px;
    margin-top: 2rem;
    color: white;
    font-size: 1.2rem;
    height: 5vh;
}

#egypt-trkey {
    display: flex;
    flex-direction: row;
    height: 48%;
    justify-content: space-around;
}

#italy-spain {
    display: flex;
    flex-direction: row;
    height: 48%;
    justify-content: space-around;
}

#mobile-menu {
    background-color: #ecf4fc;
    width: 120px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 2.3rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.hide {
    display: none;
}

.menu-items {
    margin-left: 0.5rem;
    text-decoration: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    height: 20px;
}

#list {
    display: none;
}

#second-block {
    margin-top: 3rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .header {
        margin-top: 1vh;
    }

   
    #list {
        display: block;
    }
    nav {
        align-items: center;
    }
    li {
        display: inline-block;
        line-height: 80px;
        text-align: center;
    }
    nav a {
        color: black;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 7px 10px;
        text-decoration: none;
        margin-right: 4rem;
    }
    #active {
        color: #4096df;
    }
    #menu {
        display: none;
    }
    #logo {
        margin-left: 1rem;
    }





    #ima {
        margin-top: 20vh;
        width: 40vw;
        /* margin-left: 2rem; */
    }
    #input-field {
        width: 30vw;
        padding: 0px;
        margin-left: 10px;
    }
    .search-section {
        position: absolute;
        background-color: #4096df;
        padding: 2rem 2rem 2rem 3rem;
        width: 45vw;
        margin-left: 5vw;

        margin-bottom: 46vh;
        border-radius: 0 0 50px 50px;
    }
    input::-webkit-input-placeholder {
        
        line-height:50px
    }
     #search-icon{
        margin-top: 17px;
        margin-left: 15px;
    }

    #input{
        margin-top: 5px;
        height: 50px;
        margin-right: 10px;
        text-indent: 10px;
        }
    
    #big-container {
        display: flex;
        flex-direction: row;
        height: 89vh;
       justify-content: space-between; 
    }
    #serach-container {
        flex-direction: column;
        width: 40vw;
        height: 55%;
        margin-top: 7rem;
        margin-bottom: auto;
    }
    #second-block {
        margin-left: 10vw;
    }
    #most-popular {
        height: 70%;
        width: 45vw;
    }
    #egypt-trkey,
    #italy-spain {
        height: 30vh;
        justify-content: start;
        align-items: center;
        width: auto;
    }
    #turkey,
    #italy,
    #egypt,
    #spain {
        background-size: 100% 100%;
        height: 80%;
        object-fit: cover;
        margin-left: 2rem;
    }
    #most {
        padding-right: 10rem;
        font-weight: bold;
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        
    }
    #image {
        width: 100%;
        height: 480px;
        margin-top: 0rem;
        margin-left: 8rem;
    }
}






@media only screen and (min-width: 1024px) {
  .header {
      margin-top: 1vh;
  }

 
  #list {
      display: block;
  }
  nav {
      align-items: center;
  }
  li {
      display: inline-block;
      line-height: 80px;
      text-align: center;
  }
  nav a {
      color: black;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 7px 10px;
      text-decoration: none;
      margin-right: 4rem;
  }
  #active {
      color: #4096df;
  }
  #menu {
      display: none;
  }
  #logo {
      margin-left: 1rem;
  }




 
    #input-field {
        width: 30vw;
        padding: 0px;
        margin-left: 10px;
    }

    #ima{
        margin-top: 30%;
    }
    .search-section {
        position: absolute;
        background-color: #4096df;
        padding: 2rem 1rem 2rem 4rem;
        width: 45vw;
        margin-left: 5vw;

        margin-bottom: 55vh;
        border-radius: 0 0 50px 50px;
    }
    input::-webkit-input-placeholder {
        
        line-height:50px
    }
     #search-icon{
        margin-top: 17px;
        margin-left: 15px;
    }

    #input{
        margin-top: 5px;
        height: 50px;
        margin-right: 10px;
        text-indent: 10px;
        } 
    
    #big-container {
        display: flex;
        flex-direction: row;
        height: 89vh;
       justify-content: space-between; 
    }
    #serach-container {
        flex-direction: column;
        width: 40vw;
        height: 55%;
        margin-top: 7rem;
        margin-bottom: auto;
    }
    #second-block {
        margin-left: 10vw;
        width: 100%;
    }
    #most-popular {
        height: 80%;
        width: 40vw;
    }
    #egypt-trkey,
    #italy-spain {
        height: 40vh;
        justify-content: start;
        align-items: center;
        width: 50vw;
    }
    #turkey,
    #italy,
    #egypt,
    #spain {
        background-size: 100% 100%;
        height: 80%;
        object-fit: cover;
        margin-left: 2rem;
    }
    #most {
        padding-right: 10rem;
        font-weight: bold;
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        
    }
    #image {
        width: 500px;
        height: 480px;
        margin-top: 0rem;
        margin-left: 8rem;
    }
}






