@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  justify-content: center;
}
.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 3.7vh;
}
#logo {
    color: #4096df;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif !important;
}

#menu-icon{
  font-size: 1.5rem;
}
.btn-universities {
  width: 80vw;
  height: 7vh;
  border-radius: 16px;
  background-color: #4096df;
  border: none;
  margin-top: 4vh;
}
.btn-a {
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-size: 1.3rem;
  text-decoration-line: none;
}
.info-section {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 4vh;
}

.info-div {
  margin-top: 2vh;
  width: 80vw;
  height: 40vh;
  background-color: #ffffff;
  border-radius: 16px;
}
.P-icon {
  margin-left: 1vw;
  color: #0d161d;
  font-size: 1.5rem;
}
.icons {
  color: #0d161d;
  opacity: 30%;
  font-size: 30px;
  padding-right: 5vw;
}
.country-info {
  font-size: 2rem;
}
.row-info {
  display: flex;
  margin-top: 4vh;
}
.country-img {
  width: 92vw;
  height: 27vh;
  object-fit: cover;
}
#mobile-menu {
  background-color: #ecf4fc;
  width: 120px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  right: 2.3rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.hide{
  display: none;
}

.menu-items {
  margin-left: 0.5rem;
  text-decoration: none;
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 20px;}

  #list {
    display: none;
  }


  @media only screen and (min-width: 768px) and (max-width: 1024px){
    .header {
        margin-top: 1vh;
    }

   
    #list {
        display: block;
    }
    nav {
        align-items: center;
    }
    li {
        display: inline-block;
        line-height: 80px;
        text-align: center;
    }
    nav a {
        color: black;
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: 7px 10px;
        text-decoration: none;
        margin-right: 4rem;
    }
    #active {
        color: #4096df;
    }
    #menu {
        display: none;
    }
    #logo {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 1024px){
  .header {
      margin-top: 1vh;
  }

 
  #list {
      display: block;
  }
  nav {
      align-items: center;
  }
  li {
      display: inline-block;
      line-height: 80px;
      text-align: center;
  }
  nav a {
      color: black;
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 7px 10px;
      text-decoration: none;
      margin-right: 4rem;
  }
  #active {
      color: #4096df;
  }
  #menu {
      display: none;
  }
  #logo {
      margin-left: 1rem;
  }
  .info-section{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13vh;
  
  }
  .column-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .jkl{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .country-img{
    width: 50%;
    height:40%;
  object-fit: cover;
  margin-left: 4vw;
  border-radius: 19px;
  }
   .all-info{
     width: 70%;
     display: flex;
     flex-direction: column;
     
   }
   .btn-universities{
    width: 30vw;
    height: 7vh;
   border-radius: 16px;
    background-color: #4096DF;
    border: none;
    margin-top: 6vh;
   
  }
  .info-div{
    margin-top: 2vh;
    width: 50vw;
    height: 40vh;
    background-color: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
 
  }
  .row-info{
    display: flex;
  margin-top: 4vh;
  width: 25VW;

  }
  .country-info{
    font-size: 3rem;
    }
    .icons {
      color: #0d161d;
      opacity: 30%;
      font-size: 30px;
      padding-right: 0vw;
      padding-left: 0vw;
    }
    .P-icon {
 
     margin-right: 19px;
    }
    
}
