@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
  }
  header{
    display: flex;
    justify-content: center;
   }
   .header{
     width: 90%;
     display: flex;
     justify-content: space-between;
 margin-top: 3.7vh;
 
 }
 #logo{
   font-family: 'Roboto', sans-serif;
   color: #4096df;
   
   font-size: 1.5rem;
 }
 
 .menuIcon{
   font-size: 1.5rem;
 }